.title,
.title:hover,
.title:focus {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.ui.text.menu {
  background: none transparent;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 1em -0.5em;
  font-size: 18px;
}

.book-option:hover {
  cursor: pointer;
  color: rgb(53, 122, 201);
}

.ui.grid {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.ui.icon.button.upvote-item {
  padding: 0.78571429em 0.78571429em 0.78571429em;
}

.ui.column.grid .row {
  margin: 1rem 0;
}
